@import "libs/fonts";
@import "base/mixins";
@import "base/variables";

* {
    position: relative;
    margin: 0;
    padding: 0;
}
body {
    background-color: #162831;;
}

.container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0px auto;
}

// main
@import "blocks/title";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/sessions";
@import "blocks/reviews";
@import "blocks/about";
@import "blocks/prices";
@import "blocks/contacts";
@import "blocks/footer";

//news
@import "blocks/news";

//news_new_format
@import "blocks/format";


@import "base/media";