.about {
    margin-top: 150px;
    &__wrapper {
        max-width: 1075px;
        margin: 100px auto 0;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template: repeat(2, minmax(365px, auto))/ repeat(2, minmax(auto, 526px));
        row-gap: 100px;
        column-gap: 24px;  
    }
    &__item {
        &:nth-child(4) {
            justify-self: flex-end;
        }    
    }
    &__name {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #FFFFFF;
    }
    &__text {
        margin-top: 30px;
    }
    &__descr {
        width: 466px;
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 140%;
        color: #FFFFFF;
    }
}