.sessions {
    margin-top: 150px;
    &__wrapper {
        margin-top: 100px;
        display: grid;
        grid-template: repeat(2, minmax(auto, 258px)) / repeat(3, minmax(auto, 416px));
        gap: 24px 24px;

    }
    &__item {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: all 1s;
        &:first-child { 
            grid-row: 1 / 3;
            a {                
                line-height: 39;                
                text-indent: 50px;
                background: url('../img/sessions_bg.png') center (center/cover) no-repeat; 
                background-size: 100%;    
                &:hover {
                    background-size: 140%;
                }
            }
        }
        &:hover {
            border-bottom: 7px solid $main-color;
        }
    }
    &__name {
        background: url('../img/sessions_bg_min.png') center (center/cover) no-repeat;
        display: block;
        width: 100%;
        height: 100%; 
        font-family: 'El Messiri', sans-serif;       
        font-weight: 700;
        line-height: 18;
        font-size: 24px;
        color: #FFFFFF;
        text-indent: 40px;
        text-decoration: none;
        @include hover-link;
        background-size: 100%;
        &:hover {
            background-size: 140%;
        }
    }
}